 .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
   .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  .float-right{
    float: right;
    margin: 16px;
  }

  .ant-avatar{
    border-radius: 50% !important;
    width:27px !important;
    height:27px !important;
    line-height: 27px !important;
    float: right;
    margin:30px;
}
.ant-avatar.ant-avatar-icon{
    font-size: 13px !important;
}